// Variables
@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

$main-color: #ffc800;
$second-color: #333333;
$section-color: #faf5e6;
$typo-color: #fff;
$shelter-grey: #e1d4d4;
$shelter-admin-grey: #807d7d;

$balsamiq-font: 'Balsamiq Sans', Arial, Helvetica, sans-serif;
$roboto-font: 'Roboto', Arial, Helvetica, sans-serif;

$container: 1110px;
$large: 992px;
$less-large: 900px;
$semi-tablet: 876px;
$tablet: 768px;
$less-tablet: 680px;
$small-tablet: 620px;
$semi-mobile: 550px;
$medium: 480px;
$almost-mobile: 430px;
$mobile: 375px;
$small-mobile: 330px;
