<div class="banner-container">
  <div class="image">
    <div class="img"></div>
  </div>
  <div class="content">
    <h1>Не могли б ви дати притулок улюбленцю?</h1>
    <div class="description">
      <p>
        Тимчасово подбавши про собаку або кішку у своєму будинку, ви можете допомогти тваринці знову стати на лапки і
        стати на крок ближче до пошуку постійного будинку.
      </p>
      <div class="center">
        <button routerLink="donates">
          <app-button-donate></app-button-donate>
        </button>
      </div>
    </div>
  </div>
</div>
