.filter-btn {
  border: 1px solid black;
  max-width: fit-content;
  margin-left: auto;

  @media (max-width: 425px) {
    margin: auto;
  }

  span {
    margin-left: 0.6rem;
  }
}

.add-new {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8rem;

  @media (max-width: 425px) {
    justify-content: center;
  }
}
