<div class="loading-shade">
  <div class="loader-container">
    <svg class="spinner" stroke="#000" viewBox="0 0 206 206" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <clipPath id="cut-off-bottom">
          <rect x="0" y="0" width="200" height="100" fill="#000" />
        </clipPath>
      </defs>
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="103" cy="103" r="100"></circle>
    </svg>
    <div class="paw-wrapper">
      <mat-icon class="paw">pets</mat-icon>
    </div>
  </div>
</div>
