<h1>Тварини</h1>
<div class="wrap">
  <app-admin-filter [filterParams]="filterParams" (filterChange)="onFilterChange($event)"></app-admin-filter>
  <div class="add-pet">
    <button mat-button color="primary" class="filter-btn" (click)="openDialog()">
      <mat-icon>add_circle</mat-icon> <span>Додати тварину</span>
    </button>
  </div>
</div>

<app-content-table
  [data]="data"
  *ngIf="{ content: tableData$ | async, pagination: pagination$ | async } as values"
  [values]="values"
  (sortChange)="onSortChange($event)"
  (PaginationChange)="onPaginationChange($event)"
>
</app-content-table>
